.top{
    width: 133px;
    height: 25px;   
    margin: 48px 0px 0px 77px ;
    
    font-weight: 700;
    font-size: 19.4px;
    line-height: 25.18px;
    letter-spacing: -0.08em;
    font-family: 'Josefin Sans', sans-serif;;
    text-transform: uppercase;
}

div{
    margin-top: -9em;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    height: 900px;
}


img{
    width: 539.22px;
    margin-top: 265px ;
    margin-left: 77px;
}

h1 {
    color: #333333;
    margin-top: 300px;
    height: 200px;
    font-family: 'Josefin Sans', sans-serif;
    width: 34%;
    font-size: 64px;
    letter-spacing: -0.035em;
    line-height: 140%;
}

div p{
    color: #333333;
    width: 20%;
    height: 130px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.02em;
    line-height: 35.54px;
    
}

button {
    margin-top: 2%;
    font-size: 14px;
    font-weight: 700;
    width: 200px;
    padding: 1.7em;
    color: #FFFFFF;
    background-color: #333333;
    border-color: #333333;
}

footer p {
    margin-top: 11%;
    color: #BDBDBD;
    margin-left: 40%;
}


/* 404 page mobile */ 

@media screen {
    @media (max-width: 1023px){
        img{
            width: 60%;
        }
        h1{
            font-size: 40px;
        }
        div p {
            margin-top: -10%;
        }

        button {
            margin-top: 10%;

        }
    }

    @media (max-width: 778px) {
        .top{
            margin-top: 6%;
            margin-left: 3%;
        }

        div{
            height: 1%;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        img{
            width: 90%;
            margin-left: 5%;
            margin-top: 30%;
        }
        h1{
            height: 3em;
            margin-left: 5%;
            margin-top: 10%;
            width: 90%;
            letter-spacing: 5px;
        }

        div p {
            letter-spacing: 1.5px;
            font-size: 19px;
            width: 80%;
            margin-left: 5%;
            margin-top: 1%; 
        }
        button {
            margin-left: 5%;
            margin-top: 1%;
        }
        
        footer p {
            margin-top: 20%;
            margin-left: 10%;
        }
        
    }
}    
